<div class="card-container">

<% if (page.friends) {%>
	<% page.friends.forEach(function(friend) { %>
		<div class="card">
			<div class="friend-avatar">
				<img class="avatar-img" src="<%- friend.avatar %>" />
			</div>
			<div class="friend-desc">
				<p class="card-name"><%- friend.name %></p>
				<p class="card-desc"><%- friend.desc %></p>
			</div>
			<button type="button" class="card-button">
				<a href="<%- friend.link %>">
					click!
				</a>
			</button>
		</div>
	<% }) %>
<% } %>

</div>
